<md-content layout flex>
    <div layout-gt-sm="row" layout="column" flex flex-gt-md="80" flex-offset-gt-md="10">
        <div flex="auto" flex-gt-sm="50">
            <div ng-repeat="post in vm.posts" ng-if="$even" class="animate">
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" ng-src="{{post.user.avatar}}" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{post.user.name}}</span>
                            <span class="md-subhead">{{post.dateCreate | date : 'dd.MM.yyyy HH:mm'}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="{{post.image}}" class="md-card-image" alt="{{post.title}}">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{post.title}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>{{post.body | limitTo : 140}}...</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-button class="md-icon-button md-primary" aria-label="like">
                            <md-icon md-svg-src="assets/images/like.svg"></md-icon>
                        </md-button>
                        <span>{{post.likes}}</span>
                        <md-button class="md-icon-button md-warn" aria-label="dislike">
                            <md-icon md-svg-src="assets/images/dislike.svg"></md-icon>
                        </md-button>
                        <span>{{post.dislikes}}</span>
                        <span flex></span>
                        <md-button>Read more</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
        <div flex="auto" flex-gt-sm="50">
            <div ng-repeat="post in vm.posts" ng-if="$odd" class="animate">
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" ng-src="{{post.user.avatar}}" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{post.user.name}}</span>
                            <span class="md-subhead">{{post.dateCreate | date : 'dd.MM.yyyy HH:mm'}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="{{post.image}}" class="md-card-image" alt="{{post.title}}">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{post.title}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>{{post.body | limitTo : 140}}...</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-button class="md-icon-button md-primary" aria-label="like">
                            <md-icon md-svg-src="assets/images/like.svg"></md-icon>
                        </md-button>
                        <span>{{post.likes}}</span>
                        <md-button class="md-icon-button md-warn" aria-label="dislike">
                            <md-icon md-svg-src="assets/images/dislike.svg"></md-icon>
                        </md-button>
                        <span>{{post.dislikes}}</span>
                        <span flex></span>
                        <md-button>Read more</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>
</md-content>
<md-button class="md-accent md-fab md-fab-bottom-right" ng-click="vm.create($event)" ng-if="vm.Auth.isLoggedin">
    <md-icon md-svg-src="assets/images/create.svg"></md-icon>
</md-button>