<md-content layout flex>
    <div layout-gt-sm="row" layout="column" flex flex-gt-md="80" flex-offset-gt-md="10">
        <div flex="auto" flex-gt-sm="50">
            <div ng-repeat="post in vm.posts" ng-if="$even" class="animate">
                <post-card-component post="post"></post-card-component>
            </div>
        </div>
        <div flex="auto" flex-gt-sm="50">
            <div ng-repeat="post in vm.posts" ng-if="$odd" class="animate">
                <post-card-component post="post"></post-card-component>
            </div>
        </div>
    </div>
</md-content>
<md-button class="md-accent md-fab md-fab-bottom-right" ng-click="vm.create($event)" ng-if="vm.Auth.isLoggedin">
    <md-icon md-svg-src="assets/images/create.svg"></md-icon>
</md-button>